<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class ="community-wrapper">
        <h1>Other Users</h1>
        <% if (!user) { %>
            <p>Welcome, guest!</p>
        <% } else { %>
            <p>Welcome, <%= user.username %>!</p>
        <% } %>
        <ul>
            <% users.forEach(otherUser => { %>
                <li>
                    <a href="/users/<%= otherUser._id %>"><%= otherUser.username %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>